{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/document_page.css' %}">
{% endblock extra_css %}

{% block header %}
    <img src="{% static 'home/images/top/ALREP_windows_cills_04b_01PF.png' %}" alt="header image" class="header-image">
{% endblock %}

{% block main %}
    <section class="section-document">
        <h1 class="section-document__title">
            {{ page.document_title }}
        </h1>
        {{ page.document_body|richtext }}
    </section>
{% endblock %}