{% extends "base.html" %}
{% load static %}


{% block extra_css %}


<link rel="stylesheet" href="{% static 'home/css/shopping_cart_page.css' %}">
{% endblock extra_css %}

{% block header %}
    <img src="{% static 'home/images/top/ALREP_alu_profiles_06_01PF-pink.png' %}" alt="header image" class="header-image">
{% endblock %}

{% block main %}
    <section class="section-title">
        {% csrf_token %}
        <h2 class="section-title__lead">
            Check-Out
        </h2>
        <h1 class="section-title__title">
            Cart
        </h1>
    </section>

    <section
            class="section-cart"
            x-data="shopping_cart_data()"
            x-init="init()"
    >
    <div class="section-cart__grid">
        
        <p class="section-cart__grid__title product">product</p>
        <p class="section-cart__grid__title price">price</p>
        <p class="section-cart__grid__title quantity">quantity</p>
        <p class="section-cart__grid__title total">total</p>
        <hr class="section-cart__grid__hr-top">
        <template x-for="(product, index) in products" :key="index">
            <div class="section-cart__grid__product">
                <div class="section-cart__grid__product__image">
                    <template x-if="product.shape === 'L'">
                        <img class="section-cart__grid__product__img" src="{% static 'home/images/window_cills/ALREP_windows_cills_L-shape_01_01PF.png' %}" alt="element"/>
                    </template>
                    <template x-if="product.shape === 'Z'">
                        <img class="section-cart__grid__product__img" src="{% static 'home/images/window_cills/ALREP_windows_cills_Z-shape_01_01PF.png' %}" alt="element"/>
                    </template>
                    <template x-if="product.shape === 'C'">
                        <img class="section-cart__grid__product__img" src="{% static 'home/images/window_cills/ALREP_windows_cills_C-shape_01b_01PF.png' %}" alt="element"/>
                    </template>
                    <template x-if="product.shape === 'FP'">
                        <img class="section-cart__grid__product__img" src="{% static 'home/images/profiles/ALREP_alu_1_flat_plate_01b_01PF.png' %}" alt="element"/>
                    </template>
                    <template x-if="product.shape === 'EA'">
                        <img class="section-cart__grid__product__img" src="{% static 'home/images/profiles/ALREP_alu_2_equal_angle_01b_01PF.png' %}" alt="element"/>
                    </template>
                    <template x-if="product.shape === 'UA'">
                        <img class="section-cart__grid__product__img" src="{% static 'home/images/profiles/ALREP_alu_3_unequal_angle_01b_01PF.png' %}" alt="element"/>
                    </template>
                    <template x-if="product.shape === 'US'">
                        <img class="section-cart__grid__product__img" src="{% static 'home/images/profiles/ALREP_alu_4_u-shape_01b_01PF.png' %}" alt="element"/>
                    </template>
                    <template x-if="product.shape === 'TS'">
                        <img class="section-cart__grid__product__img" src="{% static 'home/images/profiles/ALREP_alu_5_t-shape_01b_01PF.png' %}" alt="element"/>
                    </template>
                    <template x-if="product.shape === 'SQ'">
                        <img class="section-cart__grid__product__img" src="{% static 'home/images/profiles/ALREP_alu_6_squere_tube_01b_01PF.png' %}" alt="element"/>
                    </template>
                    <template x-if="product.shape === 'RT'">
                        <img class="section-cart__grid__product__img" src="{% static 'home/images/profiles/ALREP_alu_7_rectangular_tube_01b_01PF.png' %}" alt="element"/>
                    </template>
                    <template x-if="product.shape === 'CT'">
                        <img class="section-cart__grid__product__img" src="{% static 'home/images/profiles/ALREP_alu_8_tubes_01b_01PF.png' %}" alt="element"/>
                    </template>
                </div>
                <div class="section-cart__grid__product__title">
                    <span x-text="product.name"></span>
                </div>
                <div class="section-cart__grid__product__price-detail">
                    <span x-text="`${product.price_unit.toFixed(2)} GBP`"></span>
                </div>
                <div class="section-cart__grid__product__quantity">
                    <button class="section-cart__grid__product__quantity--button"
                            @click="addUnit(index)"
                    >
                        <img class="section-cart__grid__product__quantity--button__img" src="{% static 'home/images/addition.svg' %}" alt="element"/>
                    </button>
                    <span class="section-cart__grid__product__quantity--display">
                        <span x-text="product.quantity"></span>
                    </span>
                    <button class="section-cart__grid__product__quantity--button"
                            @click="subUnit(index)"
                    >
                        <img class="section-cart__grid__product__quantity--button__img" src="{% static 'home/images/subtraction.svg' %}" alt="element"/>
                    </button>
                </div>
                <div class="section-cart__grid__product__price-total">
                    <span x-text="`${(product.price_unit.toFixed(2)*product.quantity).toFixed(2)} GBP`"></span>
                </div>
                <button class="section-cart__grid__product__remove"
                        @click="remove(index)"
                >
                    remove
                </button>
            </div>
        </template>
        <hr class="section-cart__grid__hr-bottom">
    </div>
    <div class="section-cart__additives">
        <h1 class="section-cart__additives__additive">SUBTOTAL</h1>
        <h2 class="section-cart__additives__cost"><span x-text="`${Number(subtotalPrice).toFixed(2)} GBP`"></span></h2>
        <h1 class="section-cart__additives__additive">VAT ({{ settings.home.ShopSettings.tax }}%)</h1>
        <h2 class="section-cart__additives__cost"><span x-text="`${Number(taxPrice).toFixed(2)} GBP`"></span></h2>
        <h1 class="section-cart__additives__additive">SHIPPING</h1>
        <h2 class="section-cart__additives__cost">{{ settings.home.ShopSettings.delivery_price }} GBP</h2>
        <hr class="section-cart__additives__hr">
    </div>
    <div class="section-cart__summary">
        <a class="section-cart__summary__back">← BACK</a>
        <h1 class="section-cart__summary__total">TOTAL</h1>
        <h2 class="section-cart__summary__price"><span x-text="`${Number(totalPrice).toFixed(2)} GBP`"></span></h2>
        <label for="note" class="section-cart__summary__note-label">Add a note to your order</label>
        <textarea id="note" class="section-cart__summary__note"></textarea>
        <a href="/checkout" class="section-cart__summary__checkout"> <!-- IMPORTANT -->
            CHECK-OUT →
        </a>
    </div>
    </section>

    <div style="display: none" id="initial-data">{{ products|json_script:"initial-data" }}</div>
    <div style="display: none" id="initial-tax">{{ tax_price }}</div>
    <div style="display: none" id="initial-subtotal">{{ subtotal_price }}</div>
    <div style="display: none" id="initial-price">{{ total_price }}</div>
{% endblock %}


{% block extra_js %}
    <script src="{% static 'home/js/shopping_cart_page.js' %}"></script>
{% endblock %}